:root {
  --body-font-size: 1.063rem; /* 18rem */
  --h1-font-size: 2rem;
  --h1-font-family: Heuristica;
  --h1-font-weight: 700;
  --h2-font-size: 1.125rem;
  --h2-font-family: inherit;
  --h2-font-weight: 700;
  --border-color: #d0d0d0;
}
